In [3]:
name = "mohammed"
print (name * 3) # interpolation 
print (name + " ibrahim") # concatination 
# num 
# spaces , * 
# num =  4
# ===*  -> 1 -> ( 3 , 1) 
# ==**  -> 2 -> ( 2 , 2) 
# =***  -> 3 -> ( 1 , 3) 
# ****  -> 4 -> ( 0 , 4) 
num = 4
for row in range (1 , num+1):
    print (" "*(num - row) , "*"*row)

mohammedmohammedmohammed
mohammed ibrahim
    *
   **
  ***
 ****

In [ ]:
# non primitive -> (list , tuple) ->index based  , set , dictionary -> key based  
# list -> collection of values with different data types 
names = ["mohammed" , "ahmed" , "menna" , "yara"]
grades = [ 60, 70 , 60 , 100]
student_data = ["mohammed" , "cs" , ["c++" , "python"] , [50, 60] ]
print(names[-1].count("a"))
print (student_data[-1][0])
print (grades[:3])
# print (grades[10]) # error 
print(names)
names[0] ="test" # applicable ( list is mutable -> supports item assignment)
print(names)

2
50
[60, 70, 60]
['mohammed', 'ahmed', 'menna', 'yara']
['test', 'ahmed', 'menna', 'yara']

In [ ]:
names = ["mohammed" , "mahmoud" , "menna"]
names.append (["yara", "menna"])
names.extend (["mina" , "mirna"] )
names.extend ("mariam" )
print (names + [1,2,3])
names+=[1,2,3]
names.insert (200, "inserted value") # 12 ( len(list) - 1)
print (len (names)) #13
print(names)

['mohammed', 'mahmoud', 'menna', ['yara', 'menna'], 'mina', 'mirna', 'm', 'a', 'r', 'i', 'a', 'm', 1, 2, 3]
13
['mohammed', 'mahmoud', 'menna', ['yara', 'menna'], 'mina', 'mirna', 'm', 'a', 'r', 'i', 'a', 'm', 'inserted value']

In [43]:
names = ["mohammed" , "mahmoud" , "menna" , "mohammed" , "ahmed" , "basmala" , "ali"]
popped_element = names.pop (1) # returns the popped element
print(names)
print(popped_element)
while "mohammed" in names :
    names.remove ("mohammed") # returns None
print(names)
print ("yasmmen" in names)
print ("menna" in names)
print (min(0,1,-10))

['mohammed', 'menna', 'mohammed', 'ahmed', 'basmala', 'ali']
mahmoud
['menna', 'ahmed', 'basmala', 'ali']
False
True
-10

In [48]:
names = ["mohammed" , "mahmoud" , "menna" , "mohammed" , "ahmed" , "basmala" , "ali"]
print (max(names , key = len) )
names.reverse()
print (names)
names.sort (key= len)# ascending
print (names)
names.sort ( key = len, reverse=True) # descinding
print (names)

mohammed
['ali', 'basmala', 'ahmed', 'mohammed', 'menna', 'mahmoud', 'mohammed']
['ali', 'ahmed', 'menna', 'basmala', 'mahmoud', 'mohammed', 'mohammed']
['mohammed', 'mohammed', 'basmala', 'mahmoud', 'ahmed', 'menna', 'ali']

In [54]:
names = ["mohammed" , "mahmoud" , "menna" , "mohammed" , "ahmed" , "basmala" , "ali" ]
print (sorted (names))
print (sorted (names , reverse=True))
print (names)

['ahmed', 'ali', 'basmala', 'mahmoud', 'menna', 'mohammed', 'mohammed']
['mohammed', 'mohammed', 'menna', 'mahmoud', 'basmala', 'ali', 'ahmed']
['mohammed', 'mahmoud', 'menna', 'mohammed', 'ahmed', 'basmala', 'ali']

In [51]:
names = ["mohammed" , "mahmoud" , "menna" , "mohammed" , "ahmed" , "basmala" , "ali"]
for index in range (0 , len(names)):
    print (names[index])

mohammed
mahmoud
menna
mohammed
ahmed
basmala
ali

In [ ]:
names = ["mohammed" , "mahmoud" , "menna" , "mohammed" , "ahmed" , "basmala" , "ali" ]
for element in names :
    print (element)

mohammed
mahmoud
menna
mohammed
ahmed
basmala
ali

In [ ]:
grades = (1, 2,3) # is immutable 
print (type(grades))
grades = list(grades)
print (5 in grades)
grades = ("hi"  )
print (type(grades)) # str
grades = ("hi" , )  # tuple of one element 
print (type(grades)) # tuple

<class 'tuple'>
False
<class 'tuple'>

In [ ]:
5
# [[1],[2 , 4],[3 , 6, 9 ] , [4 , 8 , 12 , 16] , [5 ,10 , 15  20 , 25]]
3
[ [1] , [2 , 4] , [3 , 6 , 9] ]

In [69]:
a = 5
b = 10 
a= 5 ; b = 10 
a , b = 5 , "hi"  # sequence unpacking 
a , b = (5 , "hi" )  
*a , b = [5 , "hi" , 10]
a , *b = "shimaa"
print ( a , b)

s ['h', 'i', 'm', 'a', 'a']